<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>keyWord</key>
	<array>
		<string>int</string>
		<string>BOOL</string>
		<string>float</string>
		<string>double</string>
		<string>char</string>
		<string>long</string>
		<string>short</string>
		<string>unsigned</string>
		<string>signed</string>
		<string>const</string>
		<string>id</string>
	</array>
</dict>
</plist>
